@font-face {
   font-family: 'Bebas Kai';
   src: url(../assets/BebasKai.otf);
}

@font-face {
   font-family: 'Avenir LT Std';
   src: url(../assets/avenir-lt-std-35-light.otf);
}

:root {
   --white: #EDEDF5;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 16px;
   scroll-behavior: smooth !important;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Avenir LT Std', sans-serif;
   color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Bebas Kai', sans-serif;
}

ul {
   list-style-type: none;
}

a {
   display: block;
   text-decoration: none;
   color: var(--white);
}

body>header {
   position: fixed;
   z-index: 20;
   width: 100%;
}

main {
   position: relative;
}

/* nav */

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 30px 5vw;
   position: absolute;
   width: 100%;
   transition: all .5s ease;
}

nav.in-section {
   background-color: black;
   opacity: 0.95;
   padding: 10px 5vw;
   transition: all .5s ease;
}

nav .nav-left {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 50vw;
   gap: 10%;
}

nav .nav-left .menu-btn {
   display: block;
   position: relative;
   width: 1.5rem;
   height: 20px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

nav .nav-left .menu-btn .menu-btn__burger {
   content: '';
   width: 100%;
   height: 2px;
   background-color: var(--white);
   display: block;
   position: relative;
}

nav .nav-left .menu-btn .menu-btn__burger::before {
   content: '';
   width: 50%;
   height: 2px;
   background-color: var(--white);
   display: block;
   position: absolute;
   top: -7px;
   left: 0;
}

nav .nav-left .menu-btn .menu-btn__burger::after {
   content: '';
   width: 50%;
   height: 2px;
   background-color: var(--white);
   display: block;
   position: absolute;
   top: 7px;
   right: 0;
}



nav .nav-left .nav-list {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20%;
}

nav .social-icons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 50vw;
   gap: 5%;
}

/* main ---- */

main {
   overflow-x: hidden;
}

/* header */

main header {
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0 5vw;
   overflow: hidden;
   position: relative;
}

.header-background {
   background-image: url(../assets/Background.png);
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
}

.header-mountain {
   background-image: url(../assets/Mountain.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 15;
}

.header-text {
   margin: 10rem 0;
   z-index: 15;
}

.header-text h1 {
   font-size: 3.5rem;
}

.header-text p {
   font-size: 14px;
}

.header-title {
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   margin: 7rem auto;
   height: 100%;
   z-index: 1;
}

.header-title h2 {
   font-size: 5rem;
   letter-spacing: 0px;
   text-transform: uppercase;
}

.header-title p {
   font-size: 1.7rem;
}

/* section lorems  */

section.lorems {
   text-align: center;
   padding: 5vw;
}

.lorems p {
   margin: 50px auto;
   line-height: 1.5;
}

.lorem-everest {
   background-color: rgb(18, 26, 29);
}

.lorem-kanchenjung {
   background-color: rgb(4, 7, 21);
}

.lorem-lhotse {
   background-color: rgb(89, 100, 113);
}

.lorem-makalu {
   background-color: rgb(86, 78, 66);
}

.lorem-choOyu {
   background-color: rgb(212, 211, 209);
   color: rgb(73, 92, 108);
}

/* section kanchenjung  */

.kanchenjung {
   position: relative;
}

.kanchenjung-img {
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0 5vw;
   overflow: hidden;
   position: relative;
}

.kanchenjung-img-background {
   background-image: url(../assets/Kanchenjunga-background.png);
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
}

.kanchenjung-img-mountain {
   background-image: url(../assets/Kanchenjunga-mountain.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 15;
}

.kanchenjung-txt {
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.kanchenjung-txt h2 {
   font-size: 5rem;
   letter-spacing: 0px;
   text-transform: uppercase;
}

.kanchenjung-txt p {
   font-size: 1.7rem;
}


/* section lhotse  */

.lhotse {
   position: relative;
}

.lhotse-img {
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0 5vw;
   overflow: hidden;
   position: relative;
}

.lhotse-img-background {
   background-image: url(../assets/Lhotse-background.png);
   background-size: cover;
   background-position: top center;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
}

.lhotse-img-mountain {
   background-image: url(../assets/Lhotse-mountain.png);
   background-position: top center;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 15;
}

.lhotse-img-land {
   background-image: url(../assets/Lhotse-land.png);
   background-position: top center;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 20;
}

.lhotse-txt {
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 19;
   text-shadow: 3px 1px 2px black;
}

.lhotse-txt h2 {
   font-size: 5rem;
   letter-spacing: 0px;
   text-transform: uppercase;
}

.lhotse-txt p {
   font-size: 1.7rem;
}


/* section lhotse  */

.makalu {
   position: relative;
}

.makalu-img {
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0 5vw;
   overflow: hidden;
   position: relative;
}

.makalu-img-background {
   background-image: url(../assets/makalu-background.png);
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
}

.makalu-img-mountain {
   background-image: url(../assets/makalu-mountain.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 15;
}

.makalu-img-land {
   background-image: url(../assets/makalu-frontal.png);
   background-position: center;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 19;
}

.makalu-txt {
   text-align: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 18;
   text-shadow: 2px 2px 2px black, -2px -2px 15px black;
}

.makalu-txt h2 {
   font-size: 5rem;
   letter-spacing: 0px;
   text-transform: uppercase;
}

.makalu-txt p {
   font-size: 1.7rem;
}

/* section choOyu */

.choOyu {
   position: relative;
}

.choOyu-img {
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0 5vw;
   overflow: hidden;
   position: relative;
}

.choOyu-img-background {
   background-image: url(../assets/ChoOyu-background.png);
   background-size: cover;
   background-position: top;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: -15px;
}

.choOyu-img-mountain {
   background-image: url(../assets/ChoOyu-mountain.png);
   background-position: top;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: -10px;
   z-index: 15;
}

.choOyu-img-land {
   background-image: url(../assets/ChoOyu-land.png);
   background-position: top;
   background-size: cover;
   height: 100%;
   width: 105%;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 19;
}

.choOyu-txt {
   text-align: center;
   position: absolute;
   top: -5rem;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 18;
   text-shadow: 2px 2px 2px black, -2px -2px 15px black;
}

.choOyu-txt h2 {
   font-size: 5rem;
   letter-spacing: 0px;
   text-transform: uppercase;
}

.choOyu-txt p {
   font-size: 1.7rem;
}